[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
testpaths = "tests"
asyncio_mode = "auto"
addopts = "-m 'not HApump and not Spinsolve and not FlowIR and not KPump' --cov=flowchem --cov-fail-under=30"
markers = [
    "HApump: tests requiring a local HA Elite11 connected.",
    "Spinsolve: tests requiring a connection to Spinsolve.",
    "FlowIR: tests requiring a connection to a FlowIR.",
    "KPump: tests for Azura compact" ]

[tool.mypy]
ignore_missing_imports = true
python_version = 3.9

[tool.pylint.'MESSAGES CONTROL']
max-line-length = 120
#load-plugins = "perflint"
extension-pkg-allow-list = 'pydantic, lxml'
#disable = "C0330, R0201"

[tool.isort]
profile = "black"